<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Store</title>
 {{> kid_head}}
</head>

<body>
  <div class="navigation-style">
    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">&times;</a>
    <a href="/"            class="lang" key="home"> Home </a>
    <a href="kid/profile"  class="lang" key="myProfile">My Profile</a>
    <a href="kid/books"    class="lang" key="myBooks"> My Books </a>
    <a href="kid/quizes"   class="lang" key="myQuizes">My Quizes </a>
    <a href="kid/notes"    class="lang" key="myNotes">My Notes </a>
    <a href="kid/games"    class="lang" key="myGames">My Games </a>
    <a href="kid/groups"   class="lang" key="myGroups"> My Groups </a>
    <a href="kid/friends"  class="lang" key="myFriends"> My Friends </a>
    <a href="kid/account"  class="lang" key="myAccount">My Account </a>
    <a href="kid/cart"     class="lang" key="myCart"> My Cart</a>
    <a href="kid/settings" class="lang" key="settings">Settings </a>
    <a href="logout"       class="lang" key="logOut">Log Out </a>
    </div>

      <div id="main">


       <div class="topnav" id="myTopnav">
          {{#if userData.points}}
            <a class="tablinks" id="pointsTitle">My points: {{userData.points}}</a>
          {{/if}}
          <a href="#" id="openNav" class="active "  key="open" onclick="openSideNav()">&#9776; open</a>
          <a class="tablinks" id="welcomeTitle">Welcome {{userData.userName}}</a>
          <a href="#news" key="2read">2READ</a>
          <a href="books" key="books">Books</a>
          <a href="games" key="store">Store</a>
          <a href="#" class="translate" id="arb">Arabic</a>
          <a href="#" class="translate" id="heb">Hebrew</a> 
          <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
          </a>
       </div>

       <div id="games" class="card-style">    
        <h1 class="lang" key="gameStor"> Games Store 🎲</h1>
  
          <div class="cards">  
            {{#Game}}   
              <form method="POST" action="/games/addToCart">   
              <div  class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
                  <img src={{pic}} alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <div class="details">
                  <h1 name="gameName">{{gameName}}</h1> 
                  <h2 name="price">{{price}}</h2>
                  <input type="text" name="gameID" value={{gameID}} style="display: none">
                  <button type="submit" class="lang" key="addToCart" >Add to Cart</button>
                  {{!-- <input type="submit" class="lang" key="addToCart" value="Add to Cart" /> --}}
                  </div>
                  </div>
              </div>
              </div>
            </form>    
          {{/Game}}
          </div>
      </div>       
  </div>
</div>

 {{> kid_footer}}
</body>

</html>