<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{userData.userType}} - Kid's Quizes</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Favicon -->

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->

    <!-- Main Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/supervisor/kid-quizes.css" />

    {{> grown_up_head}}
</head>

<body>

    <div class="container" >
        {{> grown_up_body}}
        <header>
            <h1 dir="rtl">专砖转  砖 {{kidData.firstName}} {{kidData.lastName}}</h1>
        </header>


        <div id="quizes" class="card-style">
            <h2 key="quizTakenList" class="quizCategory">   砖注砖</h2>
            <div class="cards">
                {{#QuizTaken}}
                    <form method="POST" action="#">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src={{quizPic}} alt="Avatar" style="width:300px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <h1><span> 转专转 :</span> {{quizTitle}} </h1>
                                    <h1><span> 砖 住驻专:</span> {{bookName}} </h1>
                                    <h1><span> 砖 :</span> {{duration}} 拽转</h1>
                                    <h1><span> 爪 :</span> {{grade}}</h1>
                                    <h1><span> 拽转 砖爪专:</span> {{pointsEarned}}</h1>
                                </div>
                            </div>
                        </div>
                    </form>
                {{/QuizTaken}}
            </div>
        </div>

        <div class="navigation-style">
            <div id="quizes" class="card-style">
                <h2 key="quizNotTakenList" class="quizCategory">   砖专 注砖</h2>
                <div class="cards">
                    {{#QuizNotTaken}}
                        <form method="POST" action="#">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src={{quizPic}} alt="Avatar" style="width:300px;height:300px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h1><span> 转专转 :</span> {{quizTitle}} </h1>
                                        <h1><span> 砖 住驻专:</span> {{bookName}} </h1>
                                        <h1><span> 砖:</span> {{duration}} 拽转</h1>
                                        <input type="text" name="quizID" value={{quizID}} style="display: none">
                                        {{!-- <input type="submit" class="" value="转 转 " /> --}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    {{/QuizNotTaken}}
                </div>
            </div>




        </div>


    </div><!-- /container -->




    

    {{> grown_up_footer}}

    <!--====== Javascripts & Jquery ======-->
    <script src="/js/supervisor/kid-quizes-scripts.js"></script>

</body>

</html>