<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="refresh" content="3" >
  <title>Kid Books</title>
  {{> kid_head}}

</head>

<body>
  <div class="navigation-style">
  {{> kid_sideNav}}

      <div id="main">
         {{> kid_topNav}}
          <div class="my-books-style">
           <h1 class="lang" key="myBookBoard"> My Books Board</h1>
            <div class="row">

                <div id="intrested" class="intrested column" ondrop="drop(event)" ondragover="allowDropIntrested(event)">
                    <div class="div_title">
                      <h4 class="lang" key="booksIWantToRead">Books I want to read</h4>
                    </div>
                      {{#each bookDataByTypes.intrestedBooks}}
                      <form method="POST" action="/kid/books/edit">
                      <a href="single-book-page/{{bookID}}" class="a" name={{bookName}}  draggable="true" ondragstart="drag(event)" id={{bookID}}>
                        {{bookName}} 
                      </a> 
                    </form>
                       {{/each }}
                </div>
           
               
                <div id="reading" class="reading column" ondrop="drop(event)" ondragover="allowDropReading(event)">
                    <form id="readingForm" method="POST" action="/kid/books/edit"></form>
                    <div class="div_title">
                      <h4 class="lang" key="booksIamReading">Books I am reading</h4>
                    </div>
                      {{#each bookDataByTypes.readingBooks}}
                      
                      <a href="single-book-page/{{bookID}}" class="a" draggable="true" ondragstart="drag(event)" id="{{bookID}}">
                        {{bookName}}
                      </a> 
              
                       {{/each }}
                    </form>
                </div>


                <div id="finished" class="finished column"  ondrop="drop(event)" ondragover="allowDropFinish(event)">
                  <div class="div_title">
                    <h4 class="lang" key="finishedBooks">Books I have read</h4>
                  </div>
                    {{#each bookDataByTypes.finishedBooks}}
   
                      <a href="single-book-page/{{bookID}}" class="a" draggable="false" id="{{bookID}}">
                        {{bookName}} 
                      </a>  
                    {{/each }}
                </div>
              </div>
          </div>

{{!-- main --}}
  </div>
</div>


 {{> kid_footer}}
<script type="text/javascript" src="/js/kid/kid-book-scripts.js"></script>
</body>

</html>