<!DOCTYPE html>
<html lang="arb" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{userData.userType}} - Home page</title>
    {{> kid_head}}

      <!-- Main Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/teacher/books.css" />
    <link rel="stylesheet" type="text/css" href="/css/kid/kid-page.css" />

</head>

<body>
  <div class="navigation-style">
    {{> kid_sideNav}}


    <div id="main">
    {{> kid_topNav}}
    <div class="home-style">
        <div class="home-container">
          {{#if errorMsg}}
            <div class="alert alert-warning input-feedback" role="alert" dir="rtl">
              <h1>{{errorMsg}}</h1>
            </div>
          {{/if}}
          {{#if infoMsg}}
            <div class="alert alert-warning input-feedback" role="alert" dir="rtl">
              <h1>{{infoMsg}}</h1>
            </div>
          {{/if}}


            <h2 class="lang" key="readingToday"> 转专爪 拽专 ?</h2>
          <form class="search-container">
          <input type="text" name="search" id="searchInput"  onkeyup="searchFilter()" placeholder="">
          </form>
          
          <div class="filterSelectDiv">
            <label for="filterLngSelect">住 砖驻: </label>
            <select name="filterLng" id="filterLngSelect">
              <option value="hebrew">注专转</option>
              <option value="arabic">注专转</option>
              <option value="all"> 砖驻转</option>
            </select>
          </div>

        </div>
      </div>
  
          {{!-- <div class="cards"> 
              {{#Book}}  
            <form method="POST" action="/kid/books/add">   
              <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
                  <img src={{pic}} alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                  <h1>{{bookName}}</h1> 
                  <input type="text" name="bookID" value={{bookID}} style="display: none">
                  <input type="submit" class="" value="I want to read" />
                  </div>
              </div>
              </div>
            </form>  
             {{/Book}} 
           </div> --}}


      <div class="cards-list" id="myUL">
      {{#Book}}
      <a href="/kid/single-book-page/{{bookID}}" data-book-language="{{lang}}">
        <div class="card {{bookID}}" style="border-radius: 40px ;background-color: black">
          <div class="card_image"> <img src="{{pic}}"
              onerror="this.onerror=null;this.src='/img/books/default-book.gif';" /></div>
          <div class="card_title title-white">
            <p style="color: #2c2c54">{{bookName}}</p>
          </div>
        </div>
        <br><br>
      </a>
      {{/Book}}
    </div>

    </div> {{!-- main --}}
</div>






{{> kid_footer}}

 <!--====== Javascripts & Jquery ======-->
 
<script>
  var langPreferred = {{{json userData.langPreferred}}};  // global variable which is used in language.js file
</script>

 <script type="text/javascript" src="/js/navigation.js"></script>

 <script src="/js/kid/kid-page-scripts.js"></script>

</body>

</html>