<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{userData.userType}} - Notes page</title>
    {{> kid_head}}
</head>

<body>
  <div class="navigation-style">
  {{> kid_sideNav}}

    <div id="main">
    {{> kid_topNav}}

 <div class="notes-style">
      <h1 class="lang" key="myNotes"> 转专砖转 砖转 砖 </h1>
      <button type="button" name="button" id="add-note-btn" class="lang" key="addNote" onclick="document.getElementById('newnote').style.display='block'">
        砖 砖</button>
        <div class="notesContainer">
          {{#each notesData.getNoteData}}     
             <button class="collapsible"><span class="arrow"><i class='fas fa-angle-down'></i>&nbsp;&nbsp;&nbsp;</span>
               <span>{{title}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="float: left" >{{moment noteDate format="DD/MM/YYYY"}}</span>
             </button>
              <div class="content">              
                <p class="contentSection lang" key="noteContent"><span>转 </span><span>{{content}}</span></p>
                <br>
                <p class="lang" key ="myPaints">爪专 砖</p> 
                <img class="noteImage"   src={{notePic}}  onerror="this.onerror=null; this.src='../img/icons/note.png';" alt="" width="50%" height="50%">
                <br><br>
                <button style="font-size:24px" class="updateNote" name="{{noteID}}" 
                data-id="{{noteID}}" 
                data-title="{{title}}"
                data-content="{{content}}"           
                data-notePic="{{notePic}}"
                data-bookID="{{bookID}}"
                data-bookName="{{bookName}}"  
                onclick="document.getElementById('updatenote').style.display='block'"><i class="fa fa-edit"></i></button>
                <button style="font-size:24px" class="deleteNote" name="{{noteID}}" data-id="{{noteID}}"><i class="fa fa-trash"></i></button>
              </div>   
          {{/each}}



            {{#each notesData.getNoteAboutBook}}     
             <button class="collapsible"><span class="arrow"><i class='fas fa-angle-down'></i>&nbsp;&nbsp;&nbsp;</span>
               <span>{{title}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="float: left" >{{moment noteDate format="DD/MM/YYYY"}}</span>
             </button>
              <div class="content">
                <p class="bookSection lang" key="noteBook"><span> </span>  <span>{{bookName}}</span></p>
                <br>
                <p class="contentSection lang" key="noteContent"><span></span><span>{{content}}</span></p>
                <br>
               <p class="lang" key="myPaints"> </p> 
               <img class="noteImage"   src={{notePic}}  onerror="this.onerror=null; this.src='../img/icons/note.png';" alt="" width="50%" height="50%">
                <br><br>

                <button style="font-size:24px" class="updateNote" name="{{noteID}}" 
                data-id="{{noteID}}" 
                data-title="{{title}}"
                data-content="{{content}}"
                data-bookID="{{bookID}}"
                data-bookName="{{personID}}"             
                data-notePic="{{notePic}}"
                onclick="document.getElementById('updatenote').style.display='block'"><i class="fa fa-edit"></i>{{bookID}}</button>
                <button style="font-size:24px" class="deleteNote" name="{{noteID}}" data-id="{{noteID}}"><i class="fa fa-trash"></i></button>
              </div>   
          {{/each}}
        </div>  
      </div>


{{!-- update note -----------------------------------------------------------------------------}}

      <div class="modal-style">
      <div id="updatenote" class="modal">
      <form class="modal-content animate" method="POST" action="/kid/notes/edit" enctype="multipart/form-data">
        <div class="container">
          <h3 class="lang" key="updateNote">  </h3>
          <br>
          <hr>
          <input id="updateNoteID" type="text"  name="noteID" value="{{noteID}}" style="display: none">
         
          <label for="title" class="lang" key="noteTitle"><b></b></label>
          <input id="updateTitle" type="text"  name="title" required value="">

          <label for="title" class="lang" key="noteContent"><b></b></label>
          <textarea id= "updateContent" name="content" rows="8" cols="100"   required value=""></textarea>
         
          <label for="" class="lang" key="noteBook"><b>住驻专</b></label>
          <select id="updateBookSelect" onchange="getUpdateSelected()">
            <option id="updateBookName" value="" selected="selected"></option>
            <option id="" value="-1" class="lang" key="noBook">none</option>
             {{#each notesData.getbBooksForNote}}  
             <option  value={{bookID}}> {{bookName}}</option>
             {{/each }}  
          </select>

          <input id="updateBookID" type="text"  name="bookID" value="" style="display: none" value="-1">
          
          <img src="" alt="" id="updateNotePic">
          <label for="file" class="lang" key="myPaints"><b></b></label>
          <input  id="updatePictures" value="" type="file" id="group-image" name="notePic" placeholder="Add a title image" accept="image/gif, image/jpeg, image/jpg, image/svg+xml, image/svg, image/png, image/x-png, image/pjpeg">
          
          <button type="submit" name="button" class="okbtn lang"  key="updateNote">注</button>
          <button type="button" onclick="document.getElementById('updatenote').style.display='none'" class="cancelbtn lang" key="cancel"></button>
          
         </div>
       </form>
     </div>
   </div>
{{!-- new note -----------------------------------------------------------------------------}}
    <div class="modal-style">
      <div id="newnote" class="modal">
      <form class="modal-content animate" method="POST" action="/kid/notes/add" enctype="multipart/form-data">
        <div class="container">
          <h3 class="lang" key="newNote"> </h3>
          <br>
          <hr>
          <label for="title" class="lang" key="noteTitle"><b></b></label>
          <input type="text"  name="title" required value="" autocomplete="off">

          <label for="title" class="lang" key="noteBook" ><b></b></label>       
          <select id="bookSelect" onchange="getSelected()">
            <option value="-1" selected="selected" class="lang" key="noBook"></option>
             {{#each notesData.getbBooksForNote}}  
             <option  value={{bookID}}> {{bookName}}</option>
             {{/each }}  
          </select>
          <input id="bookID" type="text" name="bookID" style="display: none" value="-1">

          <label class="lang" key="noteContent" for="content"><b> </b></label>
          <textarea name="content" rows="8" cols="100" required value=""></textarea>

        <div class="imgcontainer">       
        </div>
        <label class="lang" key="myPaints" for="file"><b></b></label>
         <input value=""   type="file" id="group-image" name="notePic" placeholder="Add a title image" accept="image/gif, image/jpeg, image/jpg, image/svg+xml, image/svg, image/png, image/x-png, image/pjpeg">
          <button type="submit" name="button" class="okbtn lang" key="addNewNote"></button>
          <button type="button" onclick="document.getElementById('newnote').style.display='none'" class="cancelbtn lang" key="cancel"></button>       
         </div>
       </form>
     </div>
   </div>







  </div>
</div>




    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>

    <script>
      var langPreferred = {{{ json userData.langPreferred }}};  // global variable which is used in language.js file
    </script>
    
  

  {{> kid_footer}}

  <!--====== Javascripts & Jquery ======-->
 <script src="/js/kid/kid-notes-scripts.js"></script>
</body>

</html>