<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kid Notes</title>
    {{> kid_head}}
</head>

<body>
  <div class="navigation-style">
  {{> kid_sideNav}}

    <div id="main">
    {{> kid_topNav}}

     <div class="notes-style">
      <h1 class="lang" key="myNotes"> My Notes 📝</h1>
      <button type="button" name="button" id="add-note-btn" class="lang" key="addNote" onclick="document.getElementById('newnote').style.display='block'">
        Add new note</button>
        <div class="notesContainer">
          {{#myNotes}}     
             <button class="collapsible"><span class="arrow"><i class='fas fa-angle-down'></i>&nbsp;&nbsp;&nbsp;</span>{{title}} </button>
              <div class="content">
                <p>{{content}}</p>
                <p></p>
                <button style="font-size:24px" class="updateNote" name="{{noteID}}" 
                data-id="{{noteID}}" 
                data-title="{{title}}"
                data-content="{{content}}"
                onclick="document.getElementById('updatenote').style.display='block'"><i class="fa fa-edit"></i></button>
                <button style="font-size:24px" class="deleteNote" name="{{noteID}}" data-id="{{noteID}}"><i class="fa fa-trash"></i></button>
              </div>   
          {{/myNotes}}
        </div>  
      </div>


      <div class="modal-style">
      <div id="newnote" class="modal">
      <form class="modal-content animate" method="POST" action="/kid/notes/add">
        <div class="container">
          <h3 key="addNote"> New Note ✍🏻</h3>
          <br>
          <hr>
          <label for="title"><b>Note Title</b></label>
          <input type="text" placeholder="Enter Title" name="title" required value="">

          <label for="content"><b>Note Content</b></label>
          <textarea name="content" rows="8" cols="100" placeholder="Enter your thoughts"  required value=""></textarea>

          <label for="file"><b>upload your drawings 🎨</b></label>
          <input value="" type="file" id="group-image" name="img" placeholder="Add a title image" accept="image/gif, image/jpeg, image/jpg, image/svg+xml, image/svg, image/png, image/x-png, image/pjpeg">

          <button type="button" onclick="document.getElementById('newnote').style.display='none'" class="cancelbtn">Cancel</button>
          <button type="submit" name="button" class="okbtn">Add new book</button>
         </div>
       </form>
     </div>
   </div>
      <div class="modal-style">
      <div id="updatenote" class="modal">
      <form class="modal-content animate" method="POST" action="/kid/notes/edit">
        <div class="container">
          <h3 key="updateNote"> Update Note ✍🏻</h3>
          <br>
          <hr>

          <input id="updateNoteID" type="text"  value="{{noteID}}">
          
          <label for="title"><b>Note Title</b></label>
          <input id="updateTitle" type="text" placeholder="Enter Title" name="title" required value="">

          <label for="title"><b>Note Content</b></label>
          <textarea id= "updateContent" name="content" rows="8" cols="100" placeholder="Enter your thoughts"  required value=""></textarea>

          <label for="file"><b>upload your drawings 🎨</b></label>
          <input  id="updatePictures" value="" type="file" id="group-image" name="img" placeholder="Add a title image" accept="image/gif, image/jpeg, image/jpg, image/svg+xml, image/svg, image/png, image/x-png, image/pjpeg">

          <button type="button" onclick="document.getElementById('updatenote').style.display='none'" class="cancelbtn">Cancel</button>
          <button type="submit" name="button" class="okbtn">Update</button>
         </div>
       </form>
     </div>
   </div>



       
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.deleteNote').on('click', function() {    // function will run on click
        var id = $(this).data('id');    // gettin the id from the data-id attribute
        var url = '/kid/notes/delete/' + id;
       // if (confirm('Delete Game?')) {    // confirming the delete
            $.ajax({
                url: url,
                type:'DELETE',
                success: function(result) {
                    console.log('Deleting Note...');
                   window.location.href = '/kid/notes'; // redirection
                },
                error: function(err) {
                    console.log(err);
                }
            });
       // recalculateCart();
      //  }
    });

});


    $(document).ready(function() {$('.updateNote').on('click', function() {
        $('#updateTitle').val($(this).data('title'));
        $('#updateContent').val($(this).data('content'));
        $('#updateNoteID').val($(this).data('id'));
    });
  });
</script>



    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>
 {{> kid_footer}}
</body>

</html>