<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{userData.userType}} - {{bookData.bookName}} page</title>
    {{> kid_head}}
    	<!-- Main Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/kid/single-book-page.css" />
</head>
<body>
  <div class="navigation-style">
    {{> kid_sideNav}}




    <div id="main">
    {{> kid_topNav}}


            {{#each bookInfoAndReviews.bookInfo}}
            <div class="wrapper">
                <div id="one"><img src="{{pic}}"
                        onerror="this.onerror=null;this.src='/img/books/default-book.gif';" />
   
                </div>
                <div id="two">
                   <p><span style="font-size: 130%" class="lang" key="bookName">שם הספר: </span><span style="font-size: 130%" >{{bookName}}</span></p> 
                    <span class="lang" key="author" id="author">מחבר: </span><span>{{authorFirstName}} {{authorLastName}}</span>

                  {{!-- add to kid list --}}
                  <button class="lang" key="addToReadingList" id="addToList" data-id="{{bookID}}">הוסף לרשימה </button>    

                </div>
            </div>

            {{!-- <button id="doQuiz" data-id="{{bookID}}" >Do quiz</button> --}}
            <p id="bookID" style="display: none">{{bookID}}</p>

            {{!-- review section --}}
            <div class="review_section">
                <h1 class="lang" key="reviews" class="titleClass">דעות: </h1>
                <form method="POST" action="/kid/book/addReview">
                    <input name="bookID" type="text" value={{bookID}} style="display: none">
                    <textarea name="review" id="reviewContent" cols="80" rows="2" required></textarea>
                    <button class="lang" key="addReview" type="submit" id="review"> הוסף תגובה</button>
                </form>
            </div>

          {{/each }}

          {{#each bookInfoAndReviews.bookReviews}}
              <div class="container">
                <img id="postImg" src="../../img/icons/chat_3.png"  alt="Avatar">
                <p>{{userName}}</p>
                {{!-- <p>{{postDate}}</p> --}}
                <p>{{review}}</p>
              </div>
          {{/each }}

         </div>
    </div>




    
    

    
  {{> kid_footer}}

  <!--====== Javascripts & Jquery ======-->

  <script>
    var langPreferred = {{{ json userData.langPreferred }}};  // global variable which is used in language.js file
  </script>

  <script src="/js/kid/book-review-scripts.js"></script>
   
</body>
</html>