<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{userData.userType}} - Config Group page</title>

    <!-- Favicon -->

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


    <!-- Stylesheets -->


    <!-- Main Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/teacher/config-group.css" />


    {{> grown_up_head}}

</head>

<body>
    

    <div class="container">
        {{> grown_up_body}}

        
        <header>
            <h1>עריכת קבוצה
                <span>בחלק זה ניתן להוסיף חברים חדשים לקבוצות בניהולך - שים לב שהמשתמשים חייבים להיות רשומים באתר</span>
            </h1>
        </header>

        {{#if errorMsg}}
            <div class="alert alert-warning input-feedback" role="alert" dir="rtl">
                <h1>{{errorMsg}}</h1>
            </div>
        {{/if}}
        {{#if infoMsg}}
            <div class="alert alert-warning input-feedback" role="alert" dir="rtl">
                <h1>{{infoMsg}}</h1>
            </div>
        {{/if}}


        <form method="POST" id="configGroupForm" name="configGroupForm" action="/teacher/addUserToGroupReq">
            {{!------------ Group details -----------------------}}
            <div class="wrap">
                <div class="background" id="groupSelectionDiv">
                    <div class="title">
                        <h1>הוספת משתמש לקבוצה</h1>
                    </div>

                    <p class="pTitles">
                        <img src="" alt="" id="groupPic">
                        <select required id="groupList" class="section" name="selectedGroupID" form="configGroupForm">
                            <option selected="selected" value="title">בחירת קבוצה</option>
                        </select>
                        *:קבוצה
                    </p>

                    <p class="pTitles">
                        <input list="emailList" name="userEmailChosen" id="userEmailChosen" class="section" placeholder="אימייל המשתמש" required/>
                        <datalist id="emailList">
                        </datalist>
                        *:אימייל המשתמש
                    </p>

                    <p class="pTitles">
                        <select required id="permissionSelect" class="section" name="permissionType" form="configGroupForm">
                            <option selected="selected" value="title">בחר סוג הרשאה</option>
                            <option value="kid">משתמש</option>
                            <option value="admin">מנהל</option>
                        </select>
                        *:סוג הרשאה
                    </p>
                    
                </div>



                <div class="background" id="selectedGroupMembersDiv">
                    <div class="title">
                        <h1> פרטי הקבוצה שנבחרה</h1>
                    </div>
                    


<select id="viewBySelect" name="viewBySelect">
    <option value="userName">שם משתמש</option>
    <option value="email">אימייל</option>
    <option value="fullName">שם מלא</option>
</select>
<label for="viewBySelect"> :הצג ע"פ</label>

<div id="groupMembersDiv"></div>
                </div>
            </div>

            {{!-- <div class="wrap">
                
            </div> --}}
        </form>

        <div id="snackbar">יש למלא את כל השדות שממוסגרים <span style='color: rgb(255, 0, 0)'>באדום</span>.</div>

        <button type="submit" value="Submit" id="submintBtn">הוסף משתמש</button>
    </div> <!-- /container -->


    

    {{> grown_up_footer}}

    <!--====== Javascripts & Jquery ======-->

    <script>
        var allGroupsData = {{{json allMyGroupData}}};  // global array of my groups
        console.log(allGroupsData);
        var allUsersEmails = {{{json emailsList}}}
        console.log(allUsersEmails);
    </script>
    
    <script src="/js/teacher/config-group-scripts.js"></script>

    
   

</body>

</html>