<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{userData.userType}} - Group page</title>



<!-- Stylesheets -->

<!-- Main Stylesheets -->
<link rel="stylesheet" type="text/css" href="/css/teacher/single-group.css" />

	{{> grown_up_head}}
</head>

<body>
    {{> grown_up_body}}
	<div class="container" >
		
		
<br><br>
		<div class="wrapper" >
                <div id="one"><img src="{{allAboutGroup.groupData.pic}}"
                        onerror="this.onerror=null;this.src='/img/groups/default-group.gif';" />
                  <a id="groupStatusLink" href="/teacher/group-status/{{allAboutGroup.groupData.groupID}}" >Group-Status</a>
                </div>
                
                <div id="two">
                   <span><h1 class="lang" key="groupName">שם הקבוצה:</h1><h1>{{allAboutGroup.groupData.groupName}} </h1></span>
                    <span class="lang" key="createdBy" id="createdBy">נוצרה ע"י:</span><span>{{allAboutGroup.groupData.userName}}</span>
                </div>
            </div>
         
            <div class="row" >
                <div class="column80">
                 <h2 class="lang" key="posts" style="margin-right: 3%; font-size:120%; font-weight:bold;">פוסטים:</h2>
                 <div class="container">
                   
                 
                    <form method="POST" action="/post/add">
                      <input type="text" name="groupID" value={{allAboutGroup.groupData.groupID}} style="display: none">
                      <textarea name="content" id="postContent" cols="80" rows="2" required></textarea>
                      <br>
            
                      <button class="lang" key="addPost" id="addPost"type="submit" value="">הוסף פוסט</button>
                    </form>
                  </div>
            

                    {{#each allAboutGroup.groupPosts}}
                    <div class="container post">
                      <img id="postImg" src="../../img/icons/chat_3.png"  alt="Avatar">
                      <p class="postCreator">{{userName}}</p>
        
                      <p>{{content}}</p>
                    </div>
                    {{/each }}
                </div>




               
                <div class="column20">

                   <div class="lang" key="admin" class="typeMember"> <h2>אדמין: </h2> </div>
                {{#each allAboutGroup.groupAdminMembers}}
                  <ul>
                    <li>{{userName}}</li>

                  </ul>
                   {{/each }}
                   <div class="lang" key="member" class="typeMember"> <h2>חברי קבוצה: </h2> </div>
                  {{#each allAboutGroup.groupKidMembers}}
                  <ul>
                    <li>{{userName}}</li>
                  </ul>
                   {{/each }}
                </div>
            </div>






	</div><!-- /container -->

	 

	{{> grown_up_footer}}

	<!--====== Javascripts & Jquery ======-->
	<script src="/js/teacher/single-group-scripts.js"></script>

	
</body>

</html>