<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{userData.userType}} - {{bookData.bookName}} page</title>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


    <!-- Favicon -->

	<!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


	<!-- Stylesheets -->
    

	<!-- Main Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/teacher/single-book-page.css" />



  {{> teacher_head}}
</head>

<body>

  <div class="container">
    {{> teacher_body}}
    <header>
      <h1>פרטי הספר</h1>
    </header>



      {{#bookData}}


<div class="wrapper">
    <div id="one"><h1><img src="{{pic}}"
              onerror="this.onerror=null;this.src='/img/books/default-book.gif';" /></div>
    <div id="two"><h1>שם הספר: {{bookName}} </h1><span id="author">שם הסופר: {{authorFirstName}} {{authorLastName}}</span></div>
  </div>
      {{/bookData}}

  </div><!-- /container -->

  


 <!--====== Javascripts & Jquery ======-->
    

  {{> teacher_footer}}

 

</body>

</html>